@model IEnumerable<Marriage_Agency_Women_.Models.Characteristics.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RussianName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnglishName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JapaneseName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RussianName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnglishName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JapaneseName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
