@model Marriage_Agency_Women_.Models.Characteristics.Hobby

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hobby</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RussianName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RussianName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JapaneseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JapaneseName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
