@model Marriage_Agency_Women_.Models.AccountViewModels.RegisterViewModel

@{
    IList<SelectListItem> activities = ((IDictionary<string, IList<SelectListItem>>)ViewBag.PersonalData)["activities"];
    IList<SelectListItem> alcohols = ((IDictionary<string, IList<SelectListItem>>)ViewBag.PersonalData)["alcohols"];
    IList<SelectListItem> desiredAges = ((IDictionary<string, IList<SelectListItem>>)ViewBag.PersonalData)["desiredAges"];
    IList<SelectListItem> educations = ((IDictionary<string, IList<SelectListItem>>)ViewBag.PersonalData)["educations"];
    IList<SelectListItem> eyeColors = ((IDictionary<string, IList<SelectListItem>>)ViewBag.PersonalData)["eyeColors"];
    IList<SelectListItem> hairColors = ((IDictionary<string, IList<SelectListItem>>)ViewBag.PersonalData)["hairColors"];
    IList<SelectListItem> hobbies = ((IDictionary<string, IList<SelectListItem>>)ViewBag.PersonalData)["hobbies"];
    IList<SelectListItem> jobs = ((IDictionary<string, IList<SelectListItem>>)ViewBag.PersonalData)["jobs"];
    IList<SelectListItem> knowledges = ((IDictionary<string, IList<SelectListItem>>)ViewBag.PersonalData)["knowledges"];
    IList<SelectListItem> languages = ((IDictionary<string, IList<SelectListItem>>)ViewBag.PersonalData)["languages"];
    IList<SelectListItem> lifestyles = ((IDictionary<string, IList<SelectListItem>>)ViewBag.PersonalData)["lifestyles"];
    IList<SelectListItem> locations = ((IDictionary<string, IList<SelectListItem>>)ViewBag.PersonalData)["locations"];
    IList<SelectListItem> numbersOfChildren = ((IDictionary<string, IList<SelectListItem>>)ViewBag.PersonalData)["numbersOfChildren"];
    IList<SelectListItem> relationships = ((IDictionary<string, IList<SelectListItem>>)ViewBag.PersonalData)["relationships"];
    IList<SelectListItem> religions = ((IDictionary<string, IList<SelectListItem>>)ViewBag.PersonalData)["religions"];
    IList<SelectListItem> shapes = ((IDictionary<string, IList<SelectListItem>>)ViewBag.PersonalData)["shapes"];
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "example@mail.com" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NameInRoman, new { @class = "col-md-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.NameInRoman, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NameInRoman, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Birthday, new { @class = "col-md-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(m => m.Birthday, new {@class = "form-control"})
        </div>
        <p>1/1/1990</p>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Location, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.Location, locations, new {@class = "form-control"})
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Religion, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.Religion, religions, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Activity, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">

            
                @Html.DropDownListFor(m => m.Activity, activities, new { @class = "form-control" })
            </div>


        </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Job, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.Job, jobs, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Education, new { @class = "col-md-2 control-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.Education, educations, new { @class = "form-control" })
        </div>
    </div>

    @*<div>
        @foreach (KeyValuePair<int, ViewValue> keyValue in values.Languages)
        {
            <p>
                <label>@keyValue.Value.Russian &nbsp;
                    <input type="checkbox" name="Languages" value="@keyValue.Key"/>
                </label>
            </p>
        }
    </div>*@

    <div class="form-group">
        @Html.LabelFor(m => m.Relationship, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.Relationship, relationships, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Education, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.Education, educations, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NumberOfChildren, new { @class = "col-md-2 control-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.NumberOfChildren, numbersOfChildren, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Height, new { @class = "col-md-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Height, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Weight, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Weight, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Shape, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.Shape, shapes, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EyeColor, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.EyeColor, eyeColors, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.HairColor, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.HairColor, hairColors, new {@class = "form-control"})
        </div>
    </div>

    <div>
        @Html.LabelFor(m => m.Smoking)
        <p>
            <label>
                Нет&nbsp;
                <input type="radio" name="Smoking" value="false" checked="checked" />
            </label>
        </p>
        <p>
            <label>
                Да&nbsp;
                <input type="radio" name="Smoking" value="true" />
            </label>
        </p>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Alcohol, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.Alcohol, alcohols, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DesiredAge, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.DesiredAge, desiredAges, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Hobby, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.Hobby, hobbies, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Lifestyle, new { @class = "col-md-2 control-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.Lifestyle, lifestyles, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Knowledge, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.Knowledge, knowledges, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "0501234567" })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Skype, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Skype, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Facebook, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Facebook, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Vk, new { @class = "col-md-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Vk, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Twitter, new { @class = "col-md-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Twitter, new { @class = "form-control" })
        </div>
    </div>

    <div>
        @Html.LabelFor(m => m.InternationalPassport)
        <p>
            <label>
                Да&nbsp;
                <input type="radio" name="InternationalPassport" value="true" checked="checked" />
            </label>
        </p>
        <p>
            <label>
                Нет&nbsp;
                <input type="radio" name="InternationalPassport" value="false"  />
            </label>
        </p>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
