@using System.Linq.Expressions
@using Marriage_Agency_Women_.Models.AccountViewModels
@using Marriage_Agency_Women_.Models.IdentityModels
@model Marriage_Agency_Women_.Models.AccountViewModels.RegisterViewModel

@{
    IDictionary<string, IList<SelectListItem>> content = (IDictionary<string, IList<SelectListItem>>) ViewBag.PersonalData;
    IList<SelectListItem> activities = content["activities"];
    IList<SelectListItem> alcohols = content["alcohols"];
    IList<SelectListItem> desiredAges = content["desiredAges"];
    IList<SelectListItem> educations = content["educations"];
    IList<SelectListItem> eyeColors = content["eyeColors"];
    IList<SelectListItem> hairColors = content["hairColors"];
    IList<SelectListItem> hobbies = content["hobbies"];
    IList<SelectListItem> internationalPassports = content["internationalPassports"];
    IList<SelectListItem> jobs = content["jobs"];
    IList<SelectListItem> knowledges = content["knowledges"];
    IList<SelectListItem> languages = content["languages"];
    IList<SelectListItem> levels = content["levels"];
    IList<SelectListItem> lifestyles = content["lifestyles"];
    IList<SelectListItem> locations = content["locations"];
    IList<SelectListItem> numbersOfChildren = content["numbersOfChildren"];
    IList<SelectListItem> relationships = content["relationships"];
    IList<SelectListItem> religions = content["religions"];
    IList<SelectListItem> shapes = content["shapes"];
    IList<SelectListItem> smokings = content["smokings"];
}

@section styles{
   
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    @MyHelper.CreateEditorFor(Html, m => m.Email)

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
