@using Marriage_Agency_Women_.Models.IdentityModels

@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "Список анкет";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<ApplicationUser> admins = (IEnumerable<ApplicationUser>)(ViewBag.admins);
}

@section styles{

}

<h2>@ViewBag.Title</h2>

<h4>Юзеры</h4>
<table class="table">
    <thead>
    <tr>
        <th>Статус</th>
        <th>Редактировать</th>

        <th>Имя</th>
        <th>Email</th>
        <th>Номер телефона</th>
        <th>Возраст</th>
    </tr>
    </thead>
    <tbody>
        @foreach (ApplicationUser user in Model)
        {
            <tr>
                <td>
                    @if (user.Status)
                    {
                        @Html.ActionLink("Сделать неподтвержденным", "ToggleConfirmation", new {userId = user.Id})
                    }
                    else
                    {
                        @Html.ActionLink("Подтвердить", "ToggleConfirmation", new {userId = user.Id})
                    }

                </td>
                <td>
                    @Html.ActionLink("Редактировать", "EditUserAccount", new { userId = user.Id })
                </td>

                <td>@user.FirstName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>@user.Age</td>
            </tr>
        }
    </tbody>
</table>



<h4>Админы</h4>
@foreach (ApplicationUser admin in admins)
{
    <p>@admin.UserName</p>
}


@section scripts{

}