
@{
    ViewBag.Title = "Редактировать таблицы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li>@Html.ActionLink("Сфера работы", "Index", "Activities")</li>
    <li>@Html.ActionLink("Алкоголь", "Index", "Alcohols")</li>
    <li>@Html.ActionLink("Желанный возраст партнера", "Index", "DesiredAges")</li>
    <li>@Html.ActionLink("Образование", "Index", "Educations")</li>
    <li>@Html.ActionLink("Цвет глаз", "Index", "EyeColors")</li>
    <li>@Html.ActionLink("Цвет волос", "Index", "HairColors")</li>
    <li>@Html.ActionLink("Спорт, искусство и музыка", "Index", "Hobbies")</li>
    <li>@Html.ActionLink("Загранпаспорт", "Index", "InternationalPassports")</li>
    <li>@Html.ActionLink("Должность", "Index", "Jobs")</li>
    <li>@Html.ActionLink("Еда и знания", "Index", "Knowledges")</li>
    <li>@Html.ActionLink("Языки", "Index", "Languages")</li>
    <li>@Html.ActionLink("Уровни владения языком", "Index", "Levels")</li>
    <li>@Html.ActionLink("Образ жизни и развлечения", "Index", "Lifestyles")</li>
    <li>@Html.ActionLink("Место проживания", "Index", "Locations")</li>
    <li>@Html.ActionLink("Дети", "Index", "NumberOfChildrens")</li>
    <li>@Html.ActionLink("Семейное положение", "Index", "Relationships")</li>
    <li>@Html.ActionLink("Вера", "Index", "Religions")</li>
    <li>@Html.ActionLink("Фигура", "Index", "Shapes")</li>
    <li>@Html.ActionLink("Курение", "Index", "Smokings")</li>
</ul>

